<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=3.0">
     <title>Welcome to India</title>
    <style>
        body {
            background-color: blue;
            text-align: center;
        }

        #welcome-text {
            color: red;
            font-weight: bold;
            font-size: 55px;
            animation: moveText 2s infinite alternate;
        }

        @keyframes moveText {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(20px);
            }
        }
    </style>
</head>

<body>
    <p>I love my country</p>
    <div id="welcome-text">Welcome to India</div>
</body>

</html>
